* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 32px;
    padding-bottom: 100px;
}

ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
    padding: 0;
    gap: 18px;
    font-size: 18px;
}

.header{
    background-color: #1F2937;
    padding-right: 300px;
    padding-left: 300px;
    color: #F9FAF8;
    padding-bottom: 100px;
}

.logo {
    font-size: 24px;
    font-weight: 900;
}

.content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 50px;
    padding: 0 168px 0 168px;
}

.flex-col {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

h1 {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
}

button {
    background-color: #3882F6;
    border-radius: 8px;
    color: #F9FAF8;
    width: 128px;
    height: 32px;
    border: none;
}

button:hover {
    border: 2px solid #3882F6;
    background-color: transparent;
}

.header-img {
    border-radius: 12px;
    width: 400px;
}

a {
    text-decoration: none;
    color: #E5E7EB;
}

a:hover {
    text-decoration-line: underline;
}

.section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 150px;
}

.carrusel {
    display: flex;
    gap: 64px;
}

.section-title {
    padding: 32px 0;
    font-weight: 900;
    color: #1F2937;
    font-size: 36px;
}

.carrusel-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 18px;
    width: 200px;
    color: #1F2937;
}

.car-img {
    border-radius: 15px;
    border: 5px solid #3882F6;
}